
@{
    ViewBag.Title = "Oauth";
    Layout = "~/Views/Shared/_LayoutVue.cshtml";
}

<link href="~/Content/login.css" rel="stylesheet">

<div class="gray-bg" style="width:100%;height:100%;">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"></h1>
            </div>
            <form class="m-t" role="form" action="index.html">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" required="">
                </div>
                <div class="form-group">
                    <input type="checkbox" />使用你的Open帐号访问 简书，并同时登录open
                </div>
                <button type="submit" class="btn btn-primary block m-b">登 录</button>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        new Vue({
            el: '#app',
            data: {
                form: {
                    userName: 'super_admin',
                    password: ''
                }
            },
            methods: {
                handleSubmit: function () {
                    console.log(this);
                }
            }
        })
    </script>
}
