
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-2 m-b-xs">
                        <select class="input-sm form-control input-s-sm inline" v-model="parm.IsPassed">
                            <option value="">是否审批</option>
                            <option value="false">待审批</option>
                            <option value="true">已审批</option>
                        </select>
                    </div>
                    <div class="col-sm-2 m-b-xs">
                        <select class="input-sm form-control input-s-sm inline" v-model="parm.IsDisabled">
                            <option value="">是否禁用</option>
                            <option value="false">可用</option>
                            <option value="true">禁用</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" placeholder="AppID" class="input-sm form-control" v-model="parm.AppId">
                            <span class="input-group-btn">
                                <button type="button" @@click="search" class="btn btn-sm btn-primary"> 搜索</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>AppId</th>
                                <th>名称</th>
                                <th>是否审批</th>
                                <th>是否禁用</th>
                                <th>描述</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="model in List">
                                <td>{{model.AppId}}</td>
                                <td>
                                    {{model.Name}}
                                </td>
                                <td>{{model.IsPassed?'是':'否'}}</td>
                                <td>{{model.IsDisabled?'是':'否'}}</td>
                                <td>
                                    {{model.Description}}
                                </td>
                                <td>
                                    <a v-if="!model.IsPassed" class="btn-sm btn-primary" onclick="">审批</a>
                                    <a class="btn-sm btn-primary" onclick="">{{model.IsDisabled?'启用':'禁用'}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                parm: {
                    AppId: '',
                    IsDisabled: '',
                    IsPassed: ''
                },
                List: []
            },
            methods: {
                search: function () {
                    var self = this;
                    axios.get('/admin/app/Search', {
                        params: self.parm
                    }).then(function (response) {
                        Array.isArray(response.data) && (function () { self.List = response.data; })();
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            created: function () {
                var self = this;
                self.search();
            }
        })
    </script>
}